/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@900&display=swap');

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root variables */
:root {
    --roboto_font: "Roboto Mono", monospace;
}

/* Header styles */
header {
    display: flex;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid black;
    background: white;
}

header > nav > picture > img {
    width: 220px;
    height: auto;
    margin: 0;
}

nav {
    text-align: center;
}

/* Main content section */
section > h1 {
    text-align: center;
    margin-top: 200px;
    font-family: var(--roboto_font);
}

#whats_is {
    margin: 30px;
    max-width: 300px;
}

#whats_is > p {
    text-align: center;
    margin: auto;
    font-family: var(--roboto_font);
    max-width: 300px;
}

#content {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    max-width: 1090px;
}

/* Responsive adjustments */
@media (max-width: 1028px) {
    #content {
        flex-direction: column;
        align-items: center;
    }

    header > nav > picture > img {
        width: 15vw;
        height: auto;
        margin: auto;
    }

    div {
        order: 1;
        width: 100%;
    }

    #box_2 {
        order: 2;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    header {
        height: auto;
    }

    #box_2 > p {
        font-size: large;
        margin-bottom: 15px;
    }

    #box_2 > button {
        width: 70px;
        height: 40px;
    }

    #box_2 > button > a {
        line-height: 40px;
    }
}

/* Box 2 styles */
#box_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 50vh;
}

#box_2 > p {
    font-family: var(--roboto_font);
    font-size: xx-large;
    font-weight: bolder;
    margin-bottom: 20px;
}

#box_2 > button {
    display: inline-block;
    border: none;
    background: black;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    width: 90px;
    height: 50px;
    margin-top: 10px;
}

#box_2 > button > a {
    float: none;
    display: inline-block;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
    line-height: 50px;
}

/* Image container */
div > img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50vh;
}
