@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@900&display=swap');

:root {
    --roboto_font: "Roboto Mono", monospace;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid black;
    background: white;
}

header > nav > picture > img {
    width: 200px;
    height: auto;
    margin: 10px;
}

header > nav > button{
    display: none;
    border: none;
    background: black;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    width: 90px;
    height: 50px;
    margin-top: 10px;
}
header > nav > button > a{
    float: none;
    margin: auto;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;   
}

nav {
    text-align: center;
}

#intro_box {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: auto;
    width: 80%;
    max-width: 1930px;
}

#intro_box > span > h1{
    font-family :var(--roboto_font);
    max-width: 600px;
    text-align: center;
    margin-right: 20px;
}

#intro_box > img{
    width: 80%;
    max-width: 500px;
    height: auto;
}

span{
    display: flex;
    flex-direction: column;
}

#intro_box > span > button {
    display: flex;
    border: none;
    background: black;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    width: 90px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
}

#intro_box > span > button > a {
    float: none;
    margin: auto;
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
}
#main_content{
    margin: 30px;
}
#main_content > h1{
    display: flex;
    justify-content: center;
    font-family: var(--roboto_font);
}

#main_content > p {
    font-family: var(--roboto_font);
    margin: 30px;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50vh;
}

@media (max-width:1024px) and (max-height:768px) {
    
    header {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        border-bottom: 1px solid black;
        background: white;
    }

    header > nav > picture > img {
        display: flex;
        align-items: center;
        width: 90px;
        height: auto;
        margin: 10px;
    }

    header > nav > button{
        display: flex;
        border: none;
        background: black;
        text-align: center;
        border-radius: 30px;
        cursor: pointer;
        width: 90px;
        height: 50px;
        margin: 10px;
    }
    
    header > nav > button > a{
        display: flex;
        text-decoration: none;
        border: none;
        cursor: pointer;
        text-align: center;
        color: white;   
    }

    nav {
       display: flex;
       justify-content: space-between;
       align-items: center;
       width: 100%;
    }

    #intro_box {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 90%;
        width: 100%;
    }

    #intro_box > span > h1{
        font-family :var(--roboto_font);
        max-width: 600px;
        text-align: center;
        margin-right: 20px;
    }
    
    #intro_box > img{
        width: 100%;
        max-width: 450px;
        margin-top: 10vh;
        height: auto;
    }
    
    span{
        display: flex;
        flex-direction: column;
    }
    
    #intro_box > span > button {
        display: none;
        border: none;
        background: black;
        text-align: center;
        border-radius: 30px;
        cursor: pointer;
        width: 90px;
        height: 50px;
        margin: auto;
        margin-top: 10px;
    }

    #main_content{
        margin-top: 50px;
    }
    #main_content > h1{
        display: flex;
        justify-content: center;
        font-family: var(--roboto_font);
    }
    
    #main_content > p {
        font-family: var(--roboto_font);
        margin: 30px;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 50vh;
    }

@media (max-width: 600px) {
    #intro_box {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 90%;
        width: 60%;
    }
}
}