
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    text-align: center;
}

#pergunta {
    font-size: 20px;
    margin-bottom: 20px;
}

#opcoes {
    justify-content: center;
}

.opcao {
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.opcao-selecionada{
    background-color: #131F24;
}
.opcao:checked{
    background-color: #131F24;
}
.opcao:hover {
    background-color: #d1c2c2;
}

#resolucao {
    margin-top: 20px;
}
